@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme='dark'] {
    --bg-header: rgba(19, 19, 22, 0.80);
    --bg-launchpad: #14161A;
    --bg-claim-nft: #222428;
    --bg-modal: #1C1D25;
    --bg-sub-menu: #1AC77433;
    --bg-button1: #ffffff;
    --bg-blur: rgba(34, 36, 40, 0.50);
    --text-default: #fff;
    --text-header: #E8E8E8;
    --text-title: #E8E8E8;
    --text-button1: #131316;
    --text-hover-button1: #FFFFFF;
    --text-button2: #131316;
    --text-modal: #FFFFFF;
    --modal-border-color: #222428;
    --wallet-item: rgba(255, 255, 255, 0.03);
    --wallet-item-hover: rgba(255, 255, 255, 0.07);


}

body[data-theme='light'] {
    --bg-header: rgba(255, 255, 255, 0.80);
    --bg-launchpad: #FDFDFD;
    --bg-claim-nft: #FDFDFD;
    --bg-modal: #FFFFFF;
    --bg-sub-menu: rgba(255, 255, 255, 0.80);
    --bg-button1: #131316;
    --bg-blur: rgba(255, 255, 255, 0.50);
    --text-default: #131316;
    --text-header: #131316;
    --text-title: #131316;
    --text-button1: #ffffff;
    --text-hover-button1: #131316;
    --text-button2: #FFFFFF;
    --text-modal: #222428;
    --modal-border-color: #FFFFFF;
    --wallet-item: #F6F6F6;
    --wallet-item-hover: #ecebeb;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --Stroke-3: linear-gradient(#1E441B, #434548, #1E441B)
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: #ffffff !important;
    /*background: var(--bg-launchpad, #000);*/
    font-family: 'Poppins', sans-serif !important;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    /*scrollbar-width: none;  !* Firefox *!*/
}

body::-webkit-scrollbar {
    display: none;
}

.ant-layout-content {
    position: relative;
    background: var(--bg-launchpad, #000) !important;
    /*margin-bottom: -120px !important;*/
    z-index: 10;
}

/*ul > li {*/
/*    color: white;*/
/*}*/

/*.default-button {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to right, #2B2D31, #2B2D31),*/
/*    linear-gradient(to top, #1E1E1E, #565656);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button:hover, .default-button:active, .default-button:focus {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to bottom, #2B2B2B, #204131),*/
/*    linear-gradient(to top, #1E1E1E, #565656);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button:disabled {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to right, #2B2D31, #2B2D31),*/
/*    linear-gradient(to top, #1E1E1E, #565656);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button2 {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to right, #1AC774, #1AC774),*/
/*    linear-gradient(to top, #1A9459, #A3E9C7);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button2:hover, .default-button2:active, .default-button2:focus {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to bottom, #1AC774, #81CC5E),*/
/*    linear-gradient(to top, #1A9459, #A3E9C7);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button2:disabled {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to right, #1AC774, #1AC774),*/
/*    linear-gradient(to top, #1A9459, #A3E9C7);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button3 {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to right, #E8E8E8, #E8E8E8),*/
/*    linear-gradient(to bottom, #F2F2F2, #D7D7D7);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button3:hover, .default-button3:active, .default-button3:focus {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to bottom, #E8E8E8, #C0ECD7),*/
/*    linear-gradient(to bottom, #F2F2F2, #D7D7D7);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*.default-button3:disabled {*/
/*    border: 3px solid transparent;*/
/*    border-radius: 12px;*/
/*    background: linear-gradient(to right, #E8E8E8, #E8E8E8),*/
/*    linear-gradient(to bottom, #F2F2F2, #D7D7D7);*/
/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

.text-default {
    color: var(--text-default) !important;
}

.default-button {
    color: var(--text-button1);
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background: var(--bg-button1);
}

.default-button:hover, .default-button:active, .default-button:focus {
    color: var(--text-hover-button1);
    /*color: #000000;*/
    border-radius: 12px;
    background: #FDD84A;

}

.default-button:disabled {
    border-radius: 10px;
    background: var(--bg-button1);
}

@media screen and (max-width: 800px) {
    .default-button {
        padding: 12px 16px;
    }
}

.default-button2 {
    color: #FFFFFF;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background: #4A7DFF;
}

.default-button2:hover, .default-button2:active, .default-button2:focus {
    color: #FFFFFF !important;
    border-radius: 12px;
    background: #4A7DFF !important;
}

.default-button2:disabled {
    color: #B8B8B9;
    border-radius: 12px;
    background: var(--color-primary-700-main, #E7E7E8);
}

.default-button3 {
    color: #1AC774;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--color-primary-700-main, #1AC774);
    background: #FFF;
}

.default-button3:hover, .default-button3:active, .default-button3:focus {
    border-radius: 12px;
    border: 1px solid var(--color-primary-700-main, #1AC774);
    background: #E8F9F1;
}

.default-button3:disabled {
    border-radius: 12px;
    border: 1px solid var(--color-primary-700-main, #1AC774);
    background: #FFF;
}

.fill-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.header {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    flex-shrink: 0;
    background: var(--bg-header);
    backdrop-filter: blur(20px);

    .button {
        display: flex;
        height: 40px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 3px solid transparent;
        border-radius: 12px;
        background: linear-gradient(to right, #2B2D31, #2B2D31),
        linear-gradient(to top, #1E1E1E, #565656);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
    }

    .nav-link {
        color: var(--text-header) !important;
    }

    .activeNav {
        color: #1AC774 !important;
    }

    .ant-menu-item {
        padding: 0 14px !important;
    }
}

.modal-customize .ant-modal-content {
    width: 100% !important;
    max-width: 1000px !important;
    padding: 8px 0 !important;
    background: var(--bg-modal, #FFFFFF);
    color: white;
    border: 1px solid var(--modal-border-color, #FFFFFF) !important;
    border-radius: 16px;
}

.modal-connect-wallet {
    line-height: 24px; /* 171.429% */
    /*letter-spacing: -0.84px;*/
}

.menuItem {
    color: #ffffffde;
    font-size: 16px;
    padding: 12px 28px;
    /*border-bottom: 1px solid rgba(229, 228, 250, 0.1019607843);*/
}

.blur-bg {
    background: rgba(16, 16, 16, 0.1);
    backdrop-filter: blur(8px);
}

.my-wallet-referral {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 12px;
    border: 0 solid #E7E7E8;
    background: url('../common/assets/images/my wallet bg.png') center / cover;

}

.current-tier-bg {
    border-radius: 12px;
    background: var(--current-tier-bg, #FFF);
    box-shadow: 0px 3px 12px 0px rgba(0, 3, 28, 0.12);
}

.blur-bg-redeem {
    border-radius: 12px;
    background: var(--bg-blur);
    backdrop-filter: blur(6px);
}

.blur-bg-vesting {
    background: linear-gradient(180deg, rgba(25, 27, 30, 0.20) 0%, #000 100%);
    backdrop-filter: blur(12px);
}

.footer {
    position: relative;
    z-index: 20;
}

.footer-bg {
    background: rgba(255, 255, 255, 0.05);
}

.text-title {
    color: var(--text-title);
}

.clamped-text {
    color: #131316 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    /*height: 4.5em;*/
    line-height: 1.5em;
}

.wallet-item {
    background: var(--wallet-item);
}

.wallet-item:hover {
    background: var(--wallet-item) !important;
}

.my-wallet {
    background: rgba(255, 255, 255, 0.03);

    .blur-bg {
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(2px);
    }
}

.button-token {
    /*border-radius: 9999px;*/
    background: #1c1d25;
}

.switch-theme {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
}

.switch-theme-active {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;

    box-shadow: 1px 3px 8px 0px rgba(0, 3, 28, 0.16);
}

.switch-mode {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    letter-spacing: normal;
    /*background: #F6F6F6 !important;*/
}

.switch-mode-active {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 3px 8px 0 rgba(0, 3, 28, 0.16);
    font-weight: 500;
    cursor: pointer;
    letter-spacing: normal;
}

.currency-input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.currency-input__from {
    position: relative;
    font-weight: 500;
    outline: none !important;
    border: none !important;
    flex: 1 1 auto;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance: none;
}

.ant-tooltip > .ant-tooltip-content > .ant-tooltip-inner {
    width: 80px;
    font-size: 14px;
    text-align: center;
    padding: 8px !important;
}

.ant-tabs > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    height: 100%;
}

.list-proj-details h1, h2, h3, h4, h5, h6, figcaption, p {
    color: var(--text-default) !important;
}

.proj-details {
    color: var(--text-default);

    h1, h2, h3, h4, h5, h6, figcaption, p {
        color: var(--text-default);
    }
}

.proj-details p {
    font-size: 16px;
}

figcaption {
    text-align: center;
}

@layer utilities {
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background: transparent !important;
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > span > a, .ant-menu-dark .ant-menu-item-selected > a:hover, .ant-menu-dark .ant-menu-item-selected > span > a:hover {
    background: transparent !important;
}

.input-format:focus-visible {
    box-shadow: none !important;
    outline: none !important;
}

.vesting-input {
    border-radius: 6px;
    background: rgba(55, 57, 71, 0.50);
}

.vipLevel::-webkit-scrollbar {
    display: none;
}

.wrap-text {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: anywhere;
    width: 100%;
}

.timeline-collapse {
    border: none;

    .ant-collapse-item {
        border-bottom: none !important;
    }

    .ant-collapse-item:has(.hidden-timeline) {
        display: none !important;
    }

    .ant-collapse-header {
        padding: 8px 12px !important;
        border-radius: 8px !important;
        border: 1px solid #E7E7E8;
        background: #F6F6F6;
    }

    /*.ant-collapse-expand-icon {*/
    /*    display: none;*/
    /*}*/

    .ant-collapse-content {
        border-top: none;

        .ant-collapse-content-box {
            padding: 0;
        }
    }

    .hidden-timeline {
        /*.ant-collapse-header {*/
        /*    display: none !important;*/
        /*}*/
    }
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
}

.table-scroll::-webkit-scrollbar {
    display: none;
}

.table-scroll table {
    width: 100%;
    min-width: 1120px;
    margin: auto;
}

.table-scroll th,
.table-scroll td {
    text-align: center;
    padding: 5px 10px;
    /*border: 1px solid #000;*/
}

.table-scroll td img {
    text-align: center;
}

.title-board {
    width: 102px;
    position: sticky;
    text-align: start !important;
    padding: 5px 0 !important;
    left: 0;
    z-index: 10;
    background: #1C1D25;
}

.board-item {
    width: 128px;
}

thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}

.ant-tabs-nav-list {
    display: flex;
    justify-content: space-around;
}

.banner-list-container {
    left: calc(100vw / 2);

    .banner-list-campaign {
        object-fit: cover;
        width: 2728px;
        height: 828px;
    }
}

.font-lexend {
    font-family: "Lexend", sans-serif;
}

.font-dmsans {
    font-family: "DM Sans", sans-serif;
}

.title-banner {
    .button {
        display: flex;
        height: 48px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        border: 1px solid #2B2D31;
        background: linear-gradient(0deg, #14161A 0.52%, #434548 100.52%);
    }
}


.banner-bottom {
    border-radius: 16px;
    border: 1px solid #E7E7E8;
    background: linear-gradient(144deg, #DCF8EF 0%, #FFF6D2 99.95%);

    .button {
        width: fit-content;
        display: flex;
        height: 48px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        border: 1px solid #2B2D31;
        background: linear-gradient(0deg, #14161A 0.52%, #434548 100.52%);
    }
}

.empty-state-claim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #E7E7E8;
    background: #FFF;
}

.preview-price {
    background: #fff;
    box-shadow: 0px 3px 12px 0px rgba(0, 3, 28, 0.08);
}

.shadow-box {
    border-radius: 12px;
    background: #FFF;

    box-shadow: 0px 3px 12px 0px rgba(0, 3, 28, 0.08);
}

.order-switch-mode {
    width: 54px;
    height: 28px;
    border-radius: 12px;
    border: 1px solid #E7E7E8;
    background-color: #F6F6F6 !important;
    overflow: hidden;

    .ant-switch-handle:before {
        display: flex;
        width: 22px;
        height: 22px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        background-color: var(--bg-side-menu);

        box-shadow: 1px 3px 8px 0 rgba(0, 3, 28, 0.12);
    }
}

.bg-staking-1 {
    background: url('../common/assets/images/staking/bg-staking-1.png') center / cover;
}

.apr-text {
    background: var(--UNICE-Gradient, linear-gradient(180deg, #35D0FF 0.02%, #208DFF 74.78%, #1A79FF 91.1%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stake-btn {
    display: flex;
    padding: 8px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--UNICE-Gradient, linear-gradient(180deg, #35D0FF 0.02%, #208DFF 74.78%, #1A79FF 91.1%));
}

.staking-tabs {
    .table-header {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .ant-col {
            background: #1C1D25 !important;
            border-radius: 16px;
            padding: 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #717681;
        }
    }

    .table-item {
        .ant-col {
            display: flex;
            align-items: center;
            height: 100px;
            background: #23252E !important;
            padding: 32px 24px 32px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #fff;
        }
    }

    .table-item:hover .staking-pools-actions {
        right: 0;
        top: 0;
        gap: 8px;
        display: flex;
        background: transparent !important;
        align-items: center;
    }

    .table-item:hover .staking-pools-status {
        display: none !important;
    }

}
